/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* root color */
:root{
    --blue:#0188df;
    --black:#444d53;
    --white:#fff;
}

/* custom css */
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    box-sizing: border-box;
    transition: all linear .2s;     
}

html{
    font-size: 62.5%;
    overflow-x: hidden;  
}
/* button */
.button{
    height: 3.5rem;
    width: 15rem;
    background: var(--blue);
    color:var(--wight) ;
    font-size: 1.7rem;
    text-transform: capitalize;
    border-radius: .5rem;
    cursor: pointer;
    margin: 1rem 0;
    border: .1rem solid var(--blue);
}
.button:hover{
  border: .1rem solid var(--blue);
  background:var(--white) ;  
  color: var(--blue);
  letter-spacing: .2rem;
}


/* heading */
.about .heading {
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    padding-top: 8rem;
    color: var(--blue);      /* make sure --blue is defined correctly */
    letter-spacing: .1rem;
}

/* title */
.about .title {
    text-align: center;
    padding: 0rem 1rem;
    font-size: 2.5rem;
    color: var(--black);
    font-weight: 300;
}


/* title */
/* header navbar section start */
header{
    width: 96%;
    background: var(--white);
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
}

/* logo name */
header a{
    color: var(--black);
}

header a:hover{
    color: var(--blue);
}

header .logo{
    font-size: 3rem;
}

header .logo span{
    color: var(--blue);
}

/* navbar link */
header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    gap: 2rem;
}

header .navbar ul li{
    margin: 0 ;
}

header .navbar ul li a{
    font-size: 2rem;
    color: var(--black);
}

header .navbar ul li a:hover{
    color: var(--blue);
}

/* menu icon */
header .fa-bars{
    font-size: 3rem;
    color: var(--blue);
    cursor: pointer;
    display: none;
}
header .fa-times{
    transform: rotate(180deg);
}


.header-active{
    top:0;
    width: 100%;
    box-shadow: .1rem .3rem rgba(0,0,0,.3);

}
/* header navbar section end */
/* home section start*/
.home {
    height: 100vh;           
    position: relative;
    overflow: hidden;        
}

.home .row,
.home .images {
    height: 100%;
}

.home video {
    width: 100%;
    height: 100%;
    object-fit: cover;       /* fill the section without distortion */
}

.home .content {
    position: absolute;
    top: 50%;                /* center vertically */
    left: 50%;               /* center horizontally */
    transform: translate(-50%, -50%);
    color: #fff;             /* white text */
    text-align: center;
    z-index: 1;              /* above video */
}

.home .content h1 {
    font-size: 4rem;
    line-height: 1.2;
}

.home .content h1 span {
    color: #609bee;          /* highlight certain words */
}

/* home section end */
/* about section start */
.about{
    background: #a3c9ef;
}


.about .box-container{
    padding: 4rem 0;
}
.about .box-container .box{
  width: 75%;
  margin: 4rem auto; 
  border-radius:.5rem ;
  box-shadow: 0 .3rem .5rem rgba(0,0,0,.3); 
  display: flex;
  align-items: center;
  overflow: hidden;
  background: var(--white);
}
/* about images*/
.about .box-container .box .images{
    width: 50%;
    height: 40rem;
    flex-shrink: 0;
    margin-right: 2rem;
}

.about .box-container .box .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;}
/* about heading text*/
.about .box-container .box .content{
  height: 100%;
  width: 100%;
padding: 2rem;
}
.about .box-container .box  .content h3{
    font-size: 2rem;
    color: darkblue;
    display: flex;
    align-items: start;
}
.about .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--black);
    padding: 1rem;
    text-align:start ;
}
/* about section end */


















/* media query */
@media(max-width:768px){

    html{
        font-size: 55%;
    }

    header .fa-bars{
        display: block;
    }

header .navbar{
    position: fixed;
    top: -100rem;  
    left: 0;
    width: 100%;
    background: var(--wight);
    opacity:0; 
}



    header .navbar ul{
        flex-flow: column;
        padding: 2rem 0;
    }
    header .navbar ul li {
        margin: 1rem 0;
        width:100% ;
        text-align: right;
        padding-right: 2rem;
    }

    header .navbar ul li a{
        font-size: 2rem;
        display: block;
        color: black;
    }


















    header .nav-toggle{
        top: 5.5rem;
        opacity: 1;
    }
    
/* home media query */
.home.row{
    flex-flow: column;
}
.home .row .content{
    text-align: center;
}
/* home images */
.home .row .images video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* fill container without distortion */
}

}


